In [1]:
# import the library and give it a shorter name 'pd'
import pandas as pd

# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3],
        'temperatur': [-12, 3, 9]
})

In [2]:
# have a look at df
df

   month  temperatur
0      1         -12
1      2           3
2      3           9

In [3]:
new_rows = pd.DataFrame({"month": [4, 5, 6], "temperatur": [12, 17, 20]})

In [4]:
df_new = pd.concat([df, new_rows], ignore_index=True)

In [5]:
df_new

   month  temperatur
0      1         -12
1      2           3
2      3           9
3      4          12
4      5          17
5      6          20

In [6]:
# print out some descriptive statistics
df_new.describe()

          month  temperatur
count  6.000000    6.000000
mean   3.500000    8.166667
std    1.870829   11.548449
min    1.000000  -12.000000
25%    2.250000    4.500000
50%    3.500000   10.500000
75%    4.750000   15.750000
max    6.000000   20.000000

The function describe() provide 
- count: the count number of the observations in the data frame
- mean: mean of the values
- std: standard deviation of the observations
- min: Minimum of the values in the object
- 25%: the 25th percentile == the first quartile (Q1) 
- 50%: the 50th percentile == the median or second quartile (Q2)
- 75%: the 75th percentile as the third quartile (Q3)
- max: Maximum of the values in the object