In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('../data/Library_Usage.csv', na_values="Null", low_memory=False)

In [48]:
df.columns

Index(['Patron Type Definition', 'Total Checkouts', 'Total Renewals',
       'Age Range', 'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Definition',
       'Provided Email Address', 'Year Patron Registered',
       'Within San Francisco County'],
      dtype='object')

In [49]:
# für jede Ausprägung die Anzahl der Beobachtungen zählen
# value_counts() returns a Series containing the frequency of each distinct row in the Dataframe 
# absolute Häufigkeitstabelle
df['Age Range'].value_counts()

Age Range
25 to 34 years       95278
35 to 44 years       85669
10 to 19 years       67758
45 to 54 years       49820
0 to 9 years         33180
65 to 74 years       32455
20 to 24 years       27145
75 years and over    20721
55 to 59 years       19735
60 to 64 years       18088
Name: count, dtype: int64

In [50]:
# mit dem zusätzlichen Argumentaufruf normalize=True werden relative Häufigkeiten berechnet
# parameter normalize return proportions rather than frequencies
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

In [51]:
# Der Modus sind die Merkmalsausprägungen, die die meisten Beobachtungen besitzen
# funtion mode(): Get the mode(s) of each element along the selected axis
# The mode of a set of values is the value that appears most often. It can be multiple values
age_mode = df['Age Range'].mode()

In [52]:
age_mode[0]

'25 to 34 years'

##### Aufgabe 3.1 Häufigkeiten

1. Erstelle eine Häufigkeitsverteilung für die Variable 'Year Patron Registered'. 
Wieviel Prozent der Kunden wurden 2013 im System registriert? Wie viele in den kommenden Jahren? 
Was fällt Dir auf?

In [53]:
df['Year Patron Registered'].unique()

array([2015, 2019, 2022, 2023, 2009, 2018, 2016, 2020, 2014, 2003, 2017,
       2006, 2012, 2011, 2008, 2021, 2013, 2010, 2007, 2004, 2005])

In [54]:
df['Year Patron Registered'].value_counts()

Year Patron Registered
2023    59742
2022    51798
2003    40049
2021    32731
2019    32652
2020    29665
2017    29055
2018    28345
2016    21670
2015    19711
2014    15275
2013    12948
2012    12430
2011    12088
2009    11070
2010    10972
2008     9775
2007     6320
2006     5090
2005     4622
2004     4351
Name: count, dtype: int64

In [55]:
df['Year Patron Registered'].value_counts(normalize=True)

Year Patron Registered
2023    0.132654
2022    0.115015
2003    0.088927
2021    0.072678
2019    0.072502
2020    0.065870
2017    0.064515
2018    0.062939
2016    0.048117
2015    0.043767
2014    0.033917
2013    0.028750
2012    0.027600
2011    0.026841
2009    0.024580
2010    0.024363
2008    0.021705
2007    0.014033
2006    0.011302
2005    0.010263
2004    0.009661
Name: proportion, dtype: float64

Im Jahr 2013 wurden 0,028 Prozent der Kunden im System registriert.
In den Jahren danach stieg die Anzahl der Neukunden stets: 
2014: 0.033   2015: 0.043  2016: 0.048   2017: 0.064  2018: 0.062
2019: 0.072   2020: 0.065  2021: 0.072   2022: 0.115  2023: 0.132

Die meisten Kunden wurden in den Jahren 2003 (0.0889), 2022 (0.115) und 2023 (0.132) im System registriert.

2. Wieviel Prozent der Kunden sind zwischen 25 und 34 Jahren?

In [56]:
df['Age Range'].value_counts(normalize=True)

Age Range
25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: proportion, dtype: float64

0.211 Prozent der Kunden gehören zur Alterkategorie "25 to 34 years"

3. Ersetze die fehlenden Werte in der Spalte Age Range durch den Modus dieser Spalte.
   Nutze dazu die Funktion DataFrame.fillna

In [57]:
df['Age Range'].unique()

array(['75 years and over', '45 to 54 years', '55 to 59 years',
       '20 to 24 years', '65 to 74 years', '10 to 19 years',
       '25 to 34 years', '60 to 64 years', '35 to 44 years',
       '0 to 9 years', nan], dtype=object)

In [58]:
age_mode = df['Age Range'].mode()

In [59]:
age_mode[0]

'25 to 34 years'

In [60]:
df['Age Range'].fillna('25 to 34 years')

0         75 years and over
1            45 to 54 years
2            55 to 59 years
3            20 to 24 years
4            65 to 74 years
                ...
450354       35 to 44 years
450355       45 to 54 years
450356       25 to 34 years
450357       35 to 44 years
450358       65 to 74 years
Name: Age Range, Length: 450359, dtype: object

In [61]:
df['Age Range'] = df['Age Range'].fillna('25 to 34 years')

In [62]:
df['Age Range'].unique()

array(['75 years and over', '45 to 54 years', '55 to 59 years',
       '20 to 24 years', '65 to 74 years', '10 to 19 years',
       '25 to 34 years', '60 to 64 years', '35 to 44 years',
       '0 to 9 years'], dtype=object)

4. Denkst Du, es handelt sich dabei um eine gute Methode, fehlende Werte zu ersetzen? Welche anderen Strategien fallen Dir ein?

Variante 1: Bereits beim Einlesen die Kodierung für fehlende Werte mit angeben (in diesem Fall: NaN)
Variante 2: Nach dem Einlesen des Datensets eine explizite Umwandlung des Datentyps durchführen.
Aber: Bei Nan handelt es sich um einen speziellen Gleitkommawert, der nicht in einen anderen Typ als Float konvertiert werden kann. 
Die Werte in der Spalte "Age Range" können nicht in einen numerischen Datentyp umgewandet werden, da sie Altersintervalle darstellen.  nicht 
Der NaN-Wert ist eines der größten Probleme bei der Datenanalyse . Um die gewünschten Ergebnisse zu erzielen, ist es sehr wichtig, mit NaN umzugehen.