In [32]:
import pandas as pd

In [33]:
df = pd.read_csv("../data/Library_Usage.csv",low_memory=False, na_values="Null")

In [34]:
# die ersten n Zeilen eines DataFrames anschauen
df.head()

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False

In [35]:
df.tail()

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,NaN,NaN,Email,False,2023,NaN
450355,Digital Access Card,0,0,45 to 54 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450356,Digital Access Card,0,0,25 to 34 years,Ingleside,Aug,2022.0,Print,False,2022,NaN
450357,Digital Access Card,0,0,35 to 44 years,Ingleside,Apr,2022.0,Print,False,2022,NaN
450358,Digital Access Card,0,0,65 to 74 years,Bayview,Apr,2023.0,Email,False,2023,NaN

In [36]:
# Die gewünschte Anzahl von Zeilen ausgeben lassen: Parameter n = integer == number of rows to select
df.head(n=100)

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022.0,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023.0,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024.0,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022.0,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024.0,Print,False,2023,False
...,...,...,...,...,...,...,...,...,...,...,...
95,Senior,81,37,75 years and over,Main,Jun,2023.0,Email,True,2003,False
96,Senior,0,0,65 to 74 years,Main,Oct,2023.0,NaN,False,2022,False
97,Senior,0,0,65 to 74 years,Main,Mar,2024.0,Email,True,2019,False
98,Senior,0,0,65 to 74 years,Main,Mar,2024.0,Email,True,2023,False
99,Senior,1,0,75 years and over,Main,Mar,2020.0,Email,True,2015,False

In [37]:
# Print a concise summary of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450359 entries, 0 to 450358
Data columns (total 11 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Definition        450359 non-null  object
 1   Total Checkouts               450359 non-null  int64
 2   Total Renewals                450359 non-null  int64
 3   Age Range                     449849 non-null  object
 4   Home Library Definition       450329 non-null  object
 5   Circulation Active Month      410042 non-null  object
 6   Circulation Active Year       410042 non-null  float64
 7   Notice Preference Definition  447044 non-null  object
 8   Provided Email Address        450359 non-null  bool
 9   Year Patron Registered        450359 non-null  int64
 10  Within San Francisco County   450138 non-null  object
dtypes: bool(1), float64(1), int64(3), object(6)
memory usage: 34.8+ MB

In [38]:
# Generate descriptive statistics
# parameter include=‘all’ : All columns of the input will be included in the output
df.describe(include='all')

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
count,450359,450359.000000,450359.000000,449849,450329,410042,410042.000000,447044,450359,450359.000000,450138
unique,17,NaN,NaN,10,29,12,NaN,3,2,NaN,2
top,Adult,NaN,NaN,25 to 34 years,Main,Mar,NaN,Email,True,NaN,True
freq,284671,NaN,NaN,95278,145932,150957,NaN,409071,408532,NaN,377329
mean,NaN,155.218053,78.968929,NaN,NaN,NaN,2022.934855,NaN,NaN,2016.094902,NaN
std,NaN,526.242567,305.915233,NaN,NaN,NaN,1.419927,NaN,NaN,6.278639,NaN
min,NaN,0.000000,0.000000,NaN,NaN,NaN,2004.000000,NaN,NaN,2003.000000,NaN
25%,NaN,0.000000,0.000000,NaN,NaN,NaN,2022.000000,NaN,NaN,2012.000000,NaN
50%,NaN,7.000000,3.000000,NaN,NaN,NaN,2023.000000,NaN,NaN,2018.000000,NaN
75%,NaN,74.000000,36.000000,NaN,NaN,NaN,2024.000000,NaN,NaN,2021.000000,NaN
max,NaN,39743.000000,12730.000000,NaN,NaN,NaN,2024.000000,NaN,NaN,2023.000000,NaN

In [39]:
# Viele Funktionen können für DataFrames und Series gleichermaßen anwenden
print(df.min())

TypeError: '<=' not supported between instances of 'str' and 'float'

In [40]:
print(df['Total Renewals'].min())

0

In [41]:
# Function sum() returns the sum of the values over the requested axis
df['Total Renewals'].sum()

np.int64(35564368)

In [42]:
# Function between(): returns a boolean vector containing True wherever the corresponding Series element is between the boundary values
# left and right. NA values are treated as False.
df['Total Renewals'].between(100, 200).sum()

np.int64(25835)

In [43]:
# Show the column labels of the DataFrame.
df.columns

Index(['Patron Type Definition', 'Total Checkouts', 'Total Renewals',
       'Age Range', 'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Definition',
       'Provided Email Address', 'Year Patron Registered',
       'Within San Francisco County'],
      dtype='object')

In [44]:
# Return the dtypes in the DataFrame.
df.dtypes

Patron Type Definition           object
Total Checkouts                   int64
Total Renewals                    int64
Age Range                        object
Home Library Definition          object
Circulation Active Month         object
Circulation Active Year         float64
Notice Preference Definition     object
Provided Email Address             bool
Year Patron Registered            int64
Within San Francisco County      object
dtype: object

In [45]:
# Return a tuple representing the dimensionality of the DataFrame
df.shape

(450359, 11)

In [46]:
# Returns an int representing the number of elements in this object
df.size

4953949

In [47]:
len(df)

450359

In [48]:
df['Age Range'].isna().sum()

np.int64(510)

In [49]:
df['Age Range'].unique()

array(['75 years and over', '45 to 54 years', '55 to 59 years',
       '20 to 24 years', '65 to 74 years', '10 to 19 years',
       '25 to 34 years', '60 to 64 years', '35 to 44 years',
       '0 to 9 years', nan], dtype=object)

In [52]:
row_filter = (df['Age Range'] == '60 to 64 years') & (df['Circulation Active Year'] == 2016)

In [53]:
len(df.loc[row_filter])

16