In [1]:
import pandas as pd

In [2]:
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}

In [3]:
df = pd.DataFrame(data)

In [4]:
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

##### Aufgabe 2.2
- Welches Skalenniveau besitzen die Variablen im obigen Beispiel?
month: nominalskaliert ; temp: intervallskaliert ; below_zero: ordinalskaliert

- Sind die Variablen stetig oder diskret?
month: diskret: temp: stetig ; below_zero: diskret

In [5]:
# Was ist der Datentyp jeder einzelnen Spalte?
df.dtypes

month         object
temp           int64
below_zero      bool
dtype: object

In [6]:
# Erweitere das Python-Dictionary: Erstelle eine neue Zeile mit den Werten ('Apr', 5, False)
df.loc[len(df)] = ["Apr", 5, False ]

In [7]:
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [8]:
df["year"] = 2000

In [9]:
df

  month  temp  below_zero  year
0   Jan    -5        True  2000
1   Feb     2       False  2000
2   Mar     3       False  2000
3   Apr     5       False  2000

In [10]:
df.dtypes

month         object
temp           int64
below_zero      bool
year           int64
dtype: object